{% extends "layout.html" %}

{% block title %}About{%endblock%}

{% block body %}
<div style="display: flex; justify-content: center; padding: 10px 0;">
    <div>
        <h4 style="color: coral; text-align: center;">About</h4>
        <div style="color: #888;">
            <p>This webapp was created as a final project for a CS class.</p>
            <hr>
            <p>If you encounter any errors or bugs, please do let me know <a style="color: coral;" href="/bug_report">here</a></p>
            <p>To contact me, you can add me on discord: <h5 style="color: coral;">Redas#3405</h2></p>
        </div>
    </div>
</div>
{% endblock %}